@model wedding.Models.UserViewmodel
<div asp-validation-summary="All" class="error"></div>
<form asp-controller="User" asp-action="Register" method="POST">
    <fieldset>
        <legend>Register</legend>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"/>
        <label asp-for="LastName"></label>
        <input asp-for="LastName"/>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <label asp-for="PasswordConfirmation"></label>
        <input asp-for="PasswordConfirmation"/>
        <input type="submit" value="Register">
    </fieldset>
</form>